@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Edu VIC WA NT Beginner", cursive;
}
#context {
  height: 40vh;
  width: 40vw;
}
